<div
  class="flex justify-between items-center bg-customBrokenWhite p-5 h-20 w-screen text-black desktop:px-52 tablet:px-32 mobileS:px-2 mobileM:px-5 mobileL:px-10"
>
  <div class="flex items-center">
    <a
      class="ml-2 text-xl font-bold"
      routerLink="/product"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Product
    </a>
  </div>
  <div class="flex items-center gap-5">
    <div>
      <a
        routerLink="/customer"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        >Customer</a
      >
    </div>
    <div>
      <a
        routerLink="/order"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        >Order</a
      >
    </div>
  </div>
</div>
