<app-navbar></app-navbar>
<h1
  class="text-3xl font-bold tablet:ml-8 mobileS:ml-3 mt-2 mb-2 mobileS:text-center tablet:text-start"
>
  DATA ITEMS
</h1>
<!-- Search Input By Product Id -->
<div class="flex justify-center">
  <div
    class="container mb-2 px-4 tablet:w-[700px] laptop:w-[950px] desktop:w-full"
  >
    <!-- Flex container for search and add button -->
    <div
      class="flex flex-col mobileS:flex-col tablet:flex-row justify-between items-center gap-1"
    >
      <!-- Search form -->
      <div [formGroup]="searchForm" class="w-full tablet:w-[300px]">
        <input
          type="text"
          formControlName="search"
          placeholder="Search Product By Item Name"
          class="border-2 border-gray-300 bg-white shadow-xl h-10 px-5 pr-10 rounded-lg text-sm focus:outline-none focus:border-customBlue w-full"
        />
      </div>
      <!-- Button Add -->
      <div class="w-full tablet:w-[200px]">
        <button
          class="btn btn-primary bg-customBlue shadow-xl text-white hover:bg-customGrey rounded-lg w-full tablet:w-full h-10"
          (click)="onAdd()"
        >
          Add Product
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL ADD -->
<div class="modal" *ngIf="showModalAdd">
  <div class="modal-content">
    <div class="flex justify-end text-customGrey">
      <button
        class="close border-none focus:border-none text-3xl"
        (click)="resetForm(); showModalAdd = false"
      >
        &times;
      </button>
    </div>

    <!-- Isi Modal -->
    <div class="text-2xl text-center font-bold mb-4">Add Product</div>
    <form [formGroup]="addProductForm" (ngSubmit)="onSubmitAdd()">
      <div class="space-y-4">
        <!-- Input Product Name -->
        <div>
          <label class="text-[14px] text-customGrey" for="itemName">
            Product Name<span
              *ngIf="
                itemName &&
                itemName.invalid &&
                (itemName.dirty || itemName.touched)
              "
              class="text-red-500"
            >
              *</span
            >
          </label>

          <input
            [class]="
              itemName &&
              itemName.invalid &&
              (itemName.dirty || itemName.touched)
                ? 'text-[16px] w-full text-customGrey placeholder-gray-400 border border-red-500 rounded-md py-2 px-2 leading-tight focus:outline-none focus:bg-none transition duration-150 ease-in-out'
                : 'text-[16px] w-full text-customGrey placeholder-gray-400 border border-gray-300 rounded-md py-2 px-2 leading-tight focus:outline-none focus:bg-none transition duration-150 ease-in-out'
            "
            type="text"
            id="itemName"
            name="itemName"
            placeholder="Product Name"
            formControlName="itemName"
          />

          <!-- ERROR MESSAGE -->
          <div
            *ngIf="
              itemName &&
              itemName.invalid &&
              (itemName.dirty || itemName.touched)
            "
          >
            <div
              class="text-red-500 text-xs"
              *ngIf="itemName.errors?.['required']"
            >
              Product Name column cannot be empty.
            </div>
            <div
              class="text-customRed text-xs"
              *ngIf="itemName.errors?.['minlength']"
            >
              Product Name column cannot be less than 3 characters.
            </div>
            <div
              class="text-customRed text-xs"
              *ngIf="itemName.errors?.['maxlength']"
            >
              Product Name field cannot exceed 100 characters.
            </div>
            <div
              class="text-customRed text-xs"
              *ngIf="itemName.errors?.['pattern']"
            >
              Product Name column must contain letters and numbers.
            </div>
          </div>
        </div>

        <!-- Input Product Stock -->
        <div>
          <label class="text-[14px] text-customGrey" for="itemStock">
            Product Stock<span
              *ngIf="
                itemStock &&
                itemStock.invalid &&
                (itemStock.dirty || itemStock.touched)
              "
              class="text-red-500"
            >
              *</span
            >
          </label>

          <input
            [class]="
              itemStock &&
              itemStock.invalid &&
              (itemStock.dirty || itemStock.touched)
                ? 'text-[16px] w-full text-customGrey placeholder-gray-400 border border-red-500 rounded-md py-2 px-2 leading-tight focus:outline-none focus:bg-none transition duration-150 ease-in-out'
                : 'text-[16px] w-full text-customGrey placeholder-gray-400 border border-gray-300 rounded-md py-2 px-2 leading-tight focus:outline-none focus:bg-none transition duration-150 ease-in-out'
            "
            type="text"
            id="itemStock"
            name="itemStock"
            placeholder="Product Stock"
            formControlName="itemStock"
          />

          <!-- ERROR MESSAGE -->
          <div
            *ngIf="
              itemStock &&
              itemStock.invalid &&
              (itemStock.dirty || itemStock.touched)
            "
          >
            <div
              class="text-red-500 text-xs"
              *ngIf="itemStock.errors?.['required']"
            >
              Product Stock column cannot be empty.
            </div>
            <div
              class="text-customRed text-xs"
              *ngIf="itemStock.errors?.['minlength']"
            >
              Product Stock column cannot be less than 1 character.
            </div>
            <div
              class="text-customRed text-xs"
              *ngIf="itemStock.errors?.['maxlength']"
            >
              Product Stock column cannot exceed 10 characters.
            </div>
            <div
              class="text-customRed text-xs"
              *ngIf="itemStock.errors?.['pattern']"
            >
              Product Stock column must be a number
            </div>
          </div>
        </div>

        <!-- Input Product Price -->
        <div>
          <label class="text-[14px] text-customGrey" for="itemPrice">
            Product Price<span
              *ngIf="
                itemPrice &&
                itemPrice.invalid &&
                (itemPrice.dirty || itemPrice.touched)
              "
              class="text-red-500"
            >
              *</span
            >
          </label>

          <input
            [class]="
              itemPrice &&
              itemPrice.invalid &&
              (itemPrice.dirty || itemPrice.touched)
                ? 'text-[16px] w-full text-customGrey placeholder-gray-400 border border-red-500 rounded-md py-2 px-2 leading-tight focus:outline-none focus:bg-none transition duration-150 ease-in-out'
                : 'text-[16px] w-full text-customGrey placeholder-gray-400 border border-gray-300 rounded-md py-2 px-2 leading-tight focus:outline-none focus:bg-none transition duration-150 ease-in-out'
            "
            type="text"
            id="itemPrice"
            name="itemPrice"
            placeholder="Product Price"
            formControlName="itemPrice"
          />

          <!-- ERROR MESSAGE -->
          <div
            *ngIf="
              itemPrice &&
              itemPrice.invalid &&
              (itemPrice.dirty || itemPrice.touched)
            "
          >
            <div
              class="text-red-500 text-xs"
              *ngIf="itemPrice.errors?.['required']"
            >
              Product Price column cannot be empty.
            </div>
            <div
              class="text-customRed text-xs"
              *ngIf="itemPrice.errors?.['minlength']"
            >
              Product Price column cannot be less than 3 character
            </div>
            <div
              class="text-customRed text-xs"
              *ngIf="itemPrice.errors?.['maxlength']"
            >
              Product Price column cannot exceed 10 characters
            </div>
            <div
              class="text-customRed text-xs"
              *ngIf="itemPrice.errors?.['pattern']"
            >
              Product Price column must be a number
            </div>
          </div>
        </div>
        <!-- Reset Error Message If Close Modal -->
        <div *ngIf="errorMessageProduct !== ''">
          {{ errorMessageProduct }}
        </div>
        <div class="flex justify-end">
          <button
            type="submit"
            class="mt-2 bg-customBlue text-white py-2 px-4 rounded-2xl hover:bg-customGrey w-32 h-10"
          >
            ADD
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- MODAL DETAIL -->
<div class="modal" *ngIf="showModalDetail">
  <div class="modal-content">
    <div class="flex justify-end text-customGrey">
      <button
        class="close border-none focus:border-none text-3xl"
        (click)="showModalDetail = false"
      >
        &times;
      </button>
    </div>

    <!-- Isi Modal -->
    <div class="text-2xl text-center">DETAIL PRODUCT</div>
    <div class="space-y-4">
      <div class="flex flex-col">
        <p class="text-lg font-semibold">Product Name</p>
        <p class="text-gray-700">{{ itemDetails.itemName }}</p>
      </div>
      <div class="flex flex-col">
        <p class="text-lg font-semibold">Product Price</p>
        <p class="text-gray-700">
          {{ itemDetails.formattedProductPrice }}
        </p>
      </div>
      <div class="flex flex-col">
        <p class="text-lg font-semibold">Product Stock</p>
        <p class="text-gray-700">{{ itemDetails.itemStock }}</p>
      </div>
      <div class="flex flex-col">
        <p class="text-lg font-semibold">Last Order</p>
        <p class="text-gray-700">
          {{ itemDetails.formattedProductLastRestock }}
        </p>
      </div>
    </div>
  </div>
</div>

<!-- MODAL EDIT PRODUCT -->
<div class="modal" *ngIf="showModalEdit">
  <div class="modal-content">
    <div class="flex justify-end text-customGrey">
      <button
        class="close border-none focus:border-none text-3xl"
        (click)="resetForm(); showModalEdit = false"
      >
        &times;
      </button>
    </div>

    <!-- Isi Modal -->
    <div class="text-2xl text-center font-bold mb-4">EDIT PRODUCT</div>
    <form [formGroup]="updateProductForm" (ngSubmit)="onSubmitEdit()">
      <div class="space-y-4">
        <!-- Input Update Product Name -->
        <div>
          <label class="text-[14px] text-customGrey" for="itemName">
            Product Name<span
              *ngIf="
                itemNameUpdate &&
                itemNameUpdate.invalid &&
                (itemNameUpdate.dirty || itemNameUpdate.touched)
              "
              class="text-red-500"
            >
              *</span
            >
          </label>

          <input
            [class]="
              updateProductForm.get('itemNameUpdate')?.invalid &&
              (updateProductForm.get('itemNameUpdate')?.dirty ||
                updateProductForm.get('itemNameUpdate')?.touched)
                ? 'text-[16px] w-full text-customGrey placeholder-gray-400 border border-red-500 rounded-md py-2 px-2 leading-tight focus:outline-none focus:bg-none transition duration-150 ease-in-out'
                : 'text-[16px] w-full text-customGrey placeholder-gray-400 border border-gray-300 rounded-md py-2 px-2 leading-tight focus:outline-none focus:bg-none transition duration-150 ease-in-out'
            "
            type="text"
            id="itemName"
            name="itemName"
            formControlName="itemName"
          />

          <!-- ERROR MESSAGE -->
          <div
            *ngIf="
              itemNameUpdate &&
              itemNameUpdate.invalid &&
              (itemNameUpdate.dirty || itemNameUpdate.touched)
            "
          >
            <div
              class="text-red-500 text-xs"
              *ngIf="itemNameUpdate.errors?.['required']"
            >
              Product Name column cannot be empty.
            </div>
            <div
              class="text-customRed text-xs"
              *ngIf="itemNameUpdate.errors?.['minlength']"
            >
              Product Name column cannot be less than 3 characters.
            </div>
            <div
              class="text-customRed text-xs"
              *ngIf="itemNameUpdate.errors?.['maxlength']"
            >
              Product Name field cannot exceed 100 characters.
            </div>
            <div
              class="text-customRed text-xs"
              *ngIf="itemNameUpdate.errors?.['pattern']"
            >
              Product Name column must contain letters and numbers.
            </div>
          </div>
        </div>

        <!-- Input Update Product Stock -->
        <div>
          <label class="text-[14px] text-customGrey" for="itemStock">
            Product Stock<span
              *ngIf="
                itemStockUpdate &&
                itemStockUpdate.invalid &&
                (itemStockUpdate.dirty || itemStockUpdate.touched)
              "
              class="text-red-500"
            >
              *</span
            >
          </label>

          <input
            [class]="
              updateProductForm.get('itemStockUpdate')?.invalid &&
              (updateProductForm.get('itemStockUpdate')?.dirty ||
                updateProductForm.get('itemStockUpdate')?.touched)
                ? 'text-[16px] w-full text-customGrey placeholder-gray-400 border border-red-500 rounded-md py-2 px-2 leading-tight focus:outline-none focus:bg-none transition duration-150 ease-in-out'
                : 'text-[16px] w-full text-customGrey placeholder-gray-400 border border-gray-300 rounded-md py-2 px-2 leading-tight focus:outline-none focus:bg-none transition duration-150 ease-in-out'
            "
            type="text"
            id="itemStock"
            name="itemStock"
            formControlName="itemStock"
          />

          <!-- ERROR MESSAGE -->
          <div
            *ngIf="
              itemStockUpdate &&
              itemStockUpdate.invalid &&
              (itemStockUpdate.dirty || itemStockUpdate.touched)
            "
          >
            <div
              class="text-red-500 text-xs"
              *ngIf="itemStockUpdate.errors?.['required']"
            >
              Product Stock column cannot be empty.
            </div>
            <div
              class="text-customRed text-xs"
              *ngIf="itemStockUpdate.errors?.['minlength']"
            >
              Product Stock column cannot be less than 1 character.
            </div>
            <div
              class="text-customRed text-xs"
              *ngIf="itemStockUpdate.errors?.['maxlength']"
            >
              Product Stock column cannot exceed 10 characters.
            </div>
            <div
              class="text-customRed text-xs"
              *ngIf="itemStockUpdate.errors?.['pattern']"
            >
              Product Stock column must be a number
            </div>
          </div>
        </div>

        <!-- Input Update Product Price -->
        <div>
          <label class="text-[14px] text-customGrey" for="itemPrice">
            Product Price<span
              *ngIf="
                itemPriceUpdate &&
                itemPriceUpdate.invalid &&
                (itemPriceUpdate.dirty || itemPriceUpdate.touched)
              "
              class="text-red-500"
            >
              *</span
            >
          </label>

          <input
            [class]="
              updateProductForm.get('itemPriceUpdate')?.invalid &&
              (updateProductForm.get('itemPriceUpdate')?.dirty ||
                updateProductForm.get('itemPriceUpdate')?.touched)
                ? 'text-[16px] w-full text-customGrey placeholder-gray-400 border border-red-500 rounded-md py-2 px-2 leading-tight focus:outline-none focus:bg-none transition duration-150 ease-in-out'
                : 'text-[16px] w-full text-customGrey placeholder-gray-400 border border-gray-300 rounded-md py-2 px-2 leading-tight focus:outline-none focus:bg-none transition duration-150 ease-in-out'
            "
            type="text"
            id="itemPrice"
            name="itemPrice"
            formControlName="itemPrice"
          />

          <!-- ERROR MESSAGE -->
          <div
            *ngIf="
              itemPriceUpdate &&
              itemPriceUpdate.invalid &&
              (itemPriceUpdate.dirty || itemPriceUpdate.touched)
            "
          >
            <div
              class="text-red-500 text-xs"
              *ngIf="itemPriceUpdate.errors?.['required']"
            >
              Product Price column cannot be empty.
            </div>
            <div
              class="text-customRed text-xs"
              *ngIf="itemPriceUpdate.errors?.['minlength']"
            >
              Product Price column cannot be less than 3 character
            </div>
            <div
              class="text-customRed text-xs"
              *ngIf="itemPriceUpdate.errors?.['maxlength']"
            >
              Product Price column cannot exceed 10 characters
            </div>
            <div
              class="text-customRed text-xs"
              *ngIf="itemPriceUpdate.errors?.['pattern']"
            >
              Product Price column must be a number
            </div>
          </div>
        </div>
        <!-- Reset Error Message If Close Modal -->

        <div class="flex justify-end">
          <button
            type="submit"
            class="mt-2 bg-customBlue text-white py-2 px-4 rounded-2xl hover:bg-customGrey w-32 h-10"
          >
            UPDATE
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- MODAL DELETE -->
<div class="modal w-full" *ngIf="showModalDelete">
  <div class="modal-content">
    <div class="flex justify-end text-customGrey">
      <button
        class="close border-none focus:border-none text-3xl"
        (click)="showModalDelete = false"
      >
        &times;
      </button>
    </div>

    <!-- Isi Modal -->
    <div class="text-2xl text-center">DELETE PRODUCT</div>
    <div class="space-y-4">
      <p>Are you sure you want to delete this customer?</p>
      <p>{{ itemDetails.itemName }}</p>
      <p>{{ itemDetails.formattedProductPrice }}</p>
      <p>{{ itemDetails.itemStock }}</p>

      <div class="flex justify-end">
        <button
          (click)="onSubmitDelete()"
          class="mt-2 bg-customRed text-white py-2 px-4 rounded-2xl hover:bg-customGrey w-32 h-10"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
<app-table
  [data]="products"
  [columns]="productColumns"
  [startIndex]="startIndex"
  [header]="productHeaderTable"
  (sortClicked)="onSort($event)"
  (detailClicked)="onDetail($event)"
  (editClicked)="onEdit($event)"
  (deleteClicked)="onDelete($event)"
>
</app-table>
<app-pagination
  [lastPage]="pagination.lastVisiblePage"
  [currentPage]="pagination.currentPage"
  [pageSize]="pageSize"
  (pageSizeChange)="onPageSizeChanged($event)"
  (pageChange)="onPageChanged($event)"
></app-pagination>
