<div class="flex justify-between mt-3 mb-3 px-1 md:px-8">
  <!-- Entries -->
  <div class="flex items-start gap-2">
    <div class="text-customDarkBlue1">Entries :</div>
    <div class="flex justify-between gap-2">
      <div *ngFor="let value of pageSizeOptions">
        <button
          class="border border-customBlue bg-customBlue rounded-md text-customBrokenWhite hover:bg-transparent hover:text-customBlue w-[22px] h-[22px] text-[14px] {{
            pageSize === value ? 'selected' : ''
          }}"
          (click)="onChangePageSize(value)"
        >
          {{ value }}
        </button>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <div class="flex items-start gap-2">
    <!-- Previous button -->
    <div>
      <button
        class="rounded-2xl text-customBlue w-[22px] h-[22px] text-[16px]"
        (click)="onPageChanged(currentPage - 1)"
        [disabled]="currentPage === 1"
      >
        <
      </button>
    </div>
    <!-- Current page -->
    <div>
      <button
        class="rounded-2xl text-customBlue w-[22px] h-[22px] text-[16px] pointer-events-none cursor-not-allowed"
      >
        {{ currentPage }}
      </button>
    </div>
    <!-- Total pages -->
    <div class="flex items-center justify-center">
      <a class="text-customBlue">OF</a>
      <span></span>
    </div>
    <!-- Last page -->
    <div>
      <button
        class="rounded-2xl text-customBlue w-[22px] h-[22px] text-[16px] pointer-events-none cursor-not-allowed"
      >
        {{ lastPage }}
      </button>
    </div>
    <!-- Next button -->
    <div>
      <button
        class="rounded-2xl text-customBlue w-[22px] h-[22px] text-[16px]"
        (click)="onPageChanged(currentPage + 1)"
        [disabled]="currentPage === lastPage"
      >
        >
      </button>
    </div>
  </div>
</div>
